body{
    background-color: rgb(255, 228, 139);
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 47%;
}

img{
    width: 50vw;
    height:50vh;
}